.section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  padding: 20px;
  overflow: hidden;
  min-height: 680px;
  
}

.accent {
  position: absolute;
  width: min(80%, 800px);
  aspect-ratio: 684 / 700;
  z-index: 1;
}

.accentImage {
  object-fit: contain;
}

.headlineWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
  z-index: 2;


}

.headline {
  margin: 0;
  text-align: center;
  font-family: var(--font-aeonik);
  font-weight: 500;
  font-size: clamp(32px, 6vw, 96px);
  line-height: 90%;
  letter-spacing: -0.04em;
  color: #000;
}
